*{
    margin: 100;
    padding: 100;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

nav{
    background-color:rgb(255, 190, 104)
}

<article>
    <center>
        <img src="img/logonegro.png" alt="" class="logo">
    </center>
</article>

<style>
    .logo {
        width: 300px;
        height: 200px;
    }
</style>
